---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - namespace.yaml
  - helm-release.yaml
  - coredns-servicemonitor.yaml
  - cilium-envoy-podmonitor.yaml
