---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: localai
  namespace: localai
  labels:
    app: localai
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: localai
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
