{{- if .Values.name -}}
{{- $query := .Values.scaling.triggerQuery | default (printf "sum(rate(envoy_cluster_upstream_rq_total{cluster_name=~\".*%s.*\"}[1m])) or vector(0)" .Values.name) -}}
apiVersion: elasti.truefoundry.com/v1alpha1
kind: ElastiService
metadata:
  name: {{ .Values.name }}
  labels:
    {{- include "inference-model.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Values.name }}
  service: {{ .Values.name }}
  minTargetReplicas: 1
  cooldownPeriod: {{ .Values.scaling.cooldownPeriod | default 600 }}
  triggers:
    - type: prometheus
      metadata:
        serverAddress: http://kube-prometheus-stack-prometheus.observability.svc:9090
        threshold: {{ .Values.scaling.triggerThreshold | default "0.1" | quote }}
        query: {{ $query | quote }}
{{- end -}}
