---
apiVersion: v1
kind: Endpoints
metadata:
  name: talos-api
  namespace: kube-system
  labels:
    app: talos-api
subsets:
  - addresses:
      - ip: 192.168.1.51
      - ip: 192.168.1.52
      - ip: 192.168.1.53
    ports:
      - name: talos-api
        port: 50000
        protocol: TCP
