---
clusterName: eh-ops
talosVersion: v1.12.4
kubernetesVersion: v1.35.0
endpoint: https://127.0.0.1:7445
domain: cluster.local

additionalApiServerCertSans:
  - home-cluster.local
  - 192.168.1.50
  - k8s-api.whydontyou.work
  - k8s.whydontyou.work

clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12

cniConfig:
  name: none

# Anchor definitions (must be before nodes section)
anchors:
  spegel_registry_mirrors: &spegel_registry_mirrors |-
    machine:
      registries:
        mirrors:
          docker.io:
            endpoints:
              - https://localhost:5001
              - https://registry-1.docker.io
            overridePath: true
          ghcr.io:
            endpoints:
              - https://localhost:5001
              - https://ghcr.io
            overridePath: true
          registry.k8s.io:
            endpoints:
              - https://localhost:5001
              - https://registry.k8s.io
            overridePath: true
          quay.io:
            endpoints:
              - https://localhost:5001
              - https://quay.io
            overridePath: true
        config:
          localhost:5001:
            tls:
              insecureSkipVerify: true

nodes:
  # mini1 - Control plane node (Tailscale Connector hostNetwork gateway)
  - hostname: mini1
    ipAddress: 192.168.1.51
    controlPlane: true
    installDisk: /dev/disk/by-id/mmc-DF4064_0x988762ba
    talosImageURL: factory.talos.dev/metal-installer-secureboot/ee827ee541fb06e742e6d183f4e3c1a62a2d63d945cbbd0b1e76da9221af9d27
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 50:eb:f6:ef:4a:36
        dhcp: false
        addresses:
          - 192.168.1.51/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.1.1

  # mini2 - Control plane node
  - hostname: mini2
    ipAddress: 192.168.1.52
    controlPlane: true
    installDisk: /dev/disk/by-id/mmc-DF4064_0x3fb9371c
    talosImageURL: factory.talos.dev/metal-installer-secureboot/ee827ee541fb06e742e6d183f4e3c1a62a2d63d945cbbd0b1e76da9221af9d27
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 50:eb:f6:ef:49:81
        dhcp: false
        addresses:
          - 192.168.1.52/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.1.1

  # mini3 - Control plane node
  - hostname: mini3
    ipAddress: 192.168.1.53
    controlPlane: true
    installDisk: /dev/disk/by-id/mmc-DF4064_0x97bf371c
    talosImageURL: factory.talos.dev/metal-installer-secureboot/ee827ee541fb06e742e6d183f4e3c1a62a2d63d945cbbd0b1e76da9221af9d27
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 50:eb:f6:ef:49:84
        dhcp: false
        addresses:
          - 192.168.1.53/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.1.1

  # miniryzen - Worker node (Tailscale subnet router host)
  - hostname: miniryzen
    ipAddress: 192.168.1.55
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-SAMSUNG_MZVL81T0HELB-00BTW_S7HZNX0X457750
    talosImageURL: factory.talos.dev/metal-installer-secureboot/9c1d1b442d73f96dcd04e81463eb20000ab014062d22e1b083e1773336bc1dd5
    patches:
      - &network_tuning_sysctls |-
        machine:
          sysctls:
            net.core.rmem_max: "134217728"
            net.core.wmem_max: "134217728"
            net.ipv4.tcp_rmem: "4096 87380 134217728"
            net.ipv4.tcp_wmem: "4096 65536 134217728"
            net.ipv4.tcp_congestion_control: "bbr"
            net.core.default_qdisc: "fq"
      - *spegel_registry_mirrors
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 1c:83:41:32:d6:e6
        dhcp: false
        addresses:
          - 192.168.1.55/24
        routes: &lan_worker_routes
          - network: 0.0.0.0/0
            gateway: 192.168.1.1
          - network: 100.64.0.0/10
            gateway: 192.168.1.51
          - network: 100.64.0.0/10
            gateway: 192.168.1.52
            metric: 1025
          - network: 100.64.0.0/10
            gateway: 192.168.1.53
            metric: 1026

  # shadow - Worker node (AMD desktop, 4TB NVMe)
  - hostname: shadow
    ipAddress: 192.168.1.56
    controlPlane: false
    installDisk: /dev/nvme0n1
    talosImageURL: factory.talos.dev/metal-installer/146adf619b07e86748eeb90b25af26e92c42b3a16c36fa71a85ff0289d3db675
    patches:
      - *network_tuning_sysctls
      - *spegel_registry_mirrors
      - "@./patches/shadow-local-storage.yaml"
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 9c:bf:0d:00:f2:54
        dhcp: false
        addresses:
          - 192.168.1.56/24
        routes: *lan_worker_routes

  # mini4 - Worker node
  - hostname: mini4
    ipAddress: 192.168.1.57
    controlPlane: false
    installDisk: /dev/nvme0n1
    talosImageURL: factory.talos.dev/metal-installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    patches:
      - *network_tuning_sysctls
      - *spegel_registry_mirrors
    networkInterfaces:
      - interface: bond0
        dhcp: false
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: encap3+4
          miimon: 100
          deviceSelectors:
            - permanentAddr: 78:55:36:01:1d:1d
            - permanentAddr: 78:55:36:01:1d:1e
        addresses:
          - 192.168.1.57/24
        routes: *lan_worker_routes

  # mini5 - Worker node
  - hostname: mini5
    ipAddress: 192.168.1.58
    controlPlane: false
    installDisk: /dev/nvme0n1
    talosImageURL: factory.talos.dev/metal-installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    patches:
      - *network_tuning_sysctls
      - *spegel_registry_mirrors
    networkInterfaces:
      - interface: bond0
        dhcp: false
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: encap3+4
          miimon: 100
          deviceSelectors:
            - permanentAddr: 78:55:36:01:1a:a7
            - permanentAddr: 78:55:36:01:1a:a8
        addresses:
          - 192.168.1.58/24
        routes: *lan_worker_routes

  # mini6 - Worker node
  - hostname: mini6
    ipAddress: 192.168.1.59
    controlPlane: false
    installDisk: /dev/nvme0n1
    talosImageURL: factory.talos.dev/metal-installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    patches:
      - *network_tuning_sysctls
      - *spegel_registry_mirrors
    networkInterfaces:
      - interface: bond0
        dhcp: false
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: encap3+4
          miimon: 100
          deviceSelectors:
            - permanentAddr: 78:55:36:01:1b:65
            - permanentAddr: 78:55:36:01:1b:66
        addresses:
          - 192.168.1.59/24
        routes: *lan_worker_routes

  # cloudbox1 - Worker node (Oracle Cloud ARM64)
  - hostname: cloudbox1
    ipAddress: 129.80.242.223
    controlPlane: false
    installDisk: /dev/sda
    talosImageURL: factory.talos.dev/oracle-installer/4a0d65c669d46663f377e7161e50cfd570c401f26fd9e7bda34a0216b6f1922b
    machineSpec:
      mode: cloud
      secureboot: false
    certSANs:
      - 129.80.242.223
    patches:
      - &cloudbox_resolver |-
        apiVersion: v1alpha1
        kind: ResolverConfig
        nameservers:
          - address: 1.1.1.1
          - address: 8.8.8.8
      - *network_tuning_sysctls
      - &cloudbox_config |-
        machine:
          kubelet:
            extraArgs:
              register-with-taints: node-role.kubernetes.io/edge:NoSchedule
              node-labels: eh-ops.io/edge=true
          registries:
            mirrors:
              docker.io:
                endpoints:
                  - https://registry-1.docker.io
              ghcr.io:
                endpoints:
                  - https://ghcr.io
              registry.k8s.io:
                endpoints:
                  - https://registry.k8s.io
              quay.io:
                endpoints:
                  - https://quay.io
        cluster:
          controlPlane:
            endpoint: https://k8s.whydontyou.work:6443
      - |-
        machine:
          network:
            interfaces:
              - interface: lo
                addresses:
                  - 129.80.242.223/32
          kubelet:
            nodeIP:
              validSubnets:
                - 129.80.242.223/32
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 02:00:17:05:51:46
        dhcp: true

  # cloudbox2 - Worker node (Oracle Cloud ARM64)
  - hostname: cloudbox2
    ipAddress: 129.80.7.123
    controlPlane: false
    installDisk: /dev/sda
    talosImageURL: factory.talos.dev/oracle-installer/4a0d65c669d46663f377e7161e50cfd570c401f26fd9e7bda34a0216b6f1922b
    machineSpec:
      mode: cloud
      secureboot: false
    certSANs:
      - 129.80.7.123
    patches:
      - *cloudbox_resolver
      - *network_tuning_sysctls
      - *cloudbox_config
      - |-
        machine:
          network:
            interfaces:
              - interface: lo
                addresses:
                  - 129.80.7.123/32
          kubelet:
            nodeIP:
              validSubnets:
                - 129.80.7.123/32
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 02:00:17:0e:03:e8
        dhcp: true

  # cloudbox3 - Worker node (Oracle Cloud ARM64)
  - hostname: cloudbox3
    ipAddress: 158.101.43.196
    controlPlane: false
    installDisk: /dev/sda
    talosImageURL: factory.talos.dev/oracle-installer/4a0d65c669d46663f377e7161e50cfd570c401f26fd9e7bda34a0216b6f1922b
    machineSpec:
      mode: cloud
      secureboot: false
    certSANs:
      - 158.101.43.196
    patches:
      - *cloudbox_resolver
      - *network_tuning_sysctls
      - *cloudbox_config
      - |-
        machine:
          network:
            interfaces:
              - interface: lo
                addresses:
                  - 158.101.43.196/32
          kubelet:
            nodeIP:
              validSubnets:
                - 158.101.43.196/32
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 02:00:17:0d:01:4e
        dhcp: true


patches:
  - |-
    machine:
      network:
        kubespan:
          enabled: true
          advertiseKubernetesNetworks: true
  - |-
    apiVersion: v1alpha1
    kind: ResolverConfig
    nameservers:
      - address: 1.1.1.1
      - address: 1.0.0.1
  - |-
    machine:
      kubelet:
        extraArgs:
          feature-gates: UserNamespacesSupport=true,GracefulNodeShutdown=true
  - |-
    machine:
      files:
        - content: |
            [plugins."io.containerd.grpc.v1.cri"]
              disable_snapshot_annotations = false
              discard_unpacked_layers = false
          path: /var/etc/cri/conf.d/spegel.toml
          op: create
  - |-
    machine:
      sysctls:
        # Accept gratuitous ARP for VIP failover
        net.ipv4.conf.all.arp_accept: "1"
        net.ipv4.conf.default.arp_accept: "1"
        net.ipv4.conf.all.drop_gratuitous_arp: "0"
        net.ipv4.conf.default.drop_gratuitous_arp: "0"
        # Neighbor table sizing
        net.ipv4.neigh.default.gc_thresh3: "2048"
        # Network queue tuning
        net.core.netdev_max_backlog: "10000"
        net.core.netdev_budget: "600"
        # BPF JIT for Cilium
        net.core.bpf_jit_enable: "1"
        net.core.bpf_jit_harden: "0"
        net.core.bpf_jit_limit: "1000000000"
  - |-
    machine:
      sysctls:
        user.max_user_namespaces: "11255"

controlPlane:
  patches:
    - *spegel_registry_mirrors
    - |-
      machine:
        certSANs:
          - 192.168.1.50
          - k8s.whydontyou.work
        kubelet:
          nodeIP:
            validSubnets:
              - 192.168.1.0/24
        sysctls:
          net.ipv4.ip_forward: "1"
          net.ipv4.conf.all.forwarding: "1"
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 192.168.1.0/24
    - |-
      cluster:
        extraManifests:
          - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
    - |-
      cluster:
        etcd:
          extraArgs:
            auto-compaction-mode: periodic
            auto-compaction-retention: "5m"
            heartbeat-interval: "250"
            election-timeout: "2500"
            quota-backend-bytes: "2147483648"
            max-snapshots: "3"
            max-wals: "3"
    - |-
      cluster:
        apiServer:
          extraArgs:
            feature-gates: UserNamespacesSupport=true