---
apiVersion: v1
kind: ConfigMap
metadata:
  name: llama-presets
  namespace: llama-cpp
data:
  presets.ini: |
    [MiniMaxAI_MiniMax-M2.1-Q3_K_XL]
    ctx-size = 131072
    cont-batching = 1
    flash-attn = 1
    n-gpu-layers = 999
    parallel = 1
    metrics = 1
    cache-type-k = q8_0
    cache-type-v = q8_0

    [Llama-3.2-3B-Instruct-Q4_K_M]
    ctx-size = 32768
    cont-batching = 1
    flash-attn = 1
    n-gpu-layers = 999
    parallel = 4
    metrics = 1
    cache-type-k = q8_0
    cache-type-v = q8_0
