apiVersion: v1
kind: ConfigMap
metadata:
  name: proxysql-base-config
  namespace: database
data:
  proxysql-base.cnf: |
    datadir="/var/lib/proxysql"

    admin_variables =
    {
        admin_credentials="admin:admin;radmin:radmin"
        mysql_ifaces="0.0.0.0:6032"
        web_enabled=true
        web_port=6080
        prometheus_memory_metrics_interval=60
        prometheus_collection_interval=60
    }

    mysql_variables =
    {
        interfaces="0.0.0.0:3306"
        default_schema="information_schema"
        stacksize=1048576
        server_version="9.6.0"
        connect_timeout_server=3000
        connect_timeout_server_error="1000,2000,3000"
        connect_retries_on_failure=10
        sessions_sort=true
        monitor_enabled=true
        monitor_ping_max_failures=3
        monitor_ping_timeout=1000
        monitor_read_only_max_timeout_count=3
        monitor_replication_lag_interval=60000
        monitor_replication_lag_timeout=1000
        ping_interval_server_msec=30000
        ping_timeout_server=500
        commands_stats=true
        sessions_sort=true
        have_ssl=true
        ssl_p2s_ca="/etc/mysql/ssl/ca.pem"
        ssl_p2s_cert="/etc/mysql/ssl/client-cert.pem"
        ssl_p2s_key="/etc/mysql/ssl/client-key.pem"
        default_charset="utf8mb4"
        max_allowed_packet=67108864
        free_connections_pct=10
        connection_max_age_ms=0
    }

    mysql_query_rules =
    (
        {
            rule_id=1
            active=1
            match_pattern="^SELECT"
            destination_hostgroup=10
            apply=1
        }
    )
