---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: github-runner-cache
  namespace: github-runners
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 10Gi
